
<div class="main">
  <div class="login_bgc"></div>
  <div class="login">
    <img class="twitter" src="../../assets/img/twitter.png">
    <h1 class="login__head">В курсе <br> происходящего</h1>
    <h4 class="login__subhead">Присоединяйтесь к Твиттеру прямо <br> сейчас!</h4>
    <button mat-button (click)="openDialog()" routerLink="/singup" routerLinkActive="active" class="reg">Зарегистрируйтесь с помощью но..</button>
    <p class="descr">Регистрируясь, вы соглашаетесь с <span> Условиями предоставления услуг</span>и <span>Политикой конфиденциальности</span> , а также с Политикой использования файлов cookie.</p>
    <h3 class="label">Уже зарегистрированы?</h3>
    <button routerLink="/login" routerLinkActive="active" class="singin"><a>Войти</a></button>
  </div>
</div>

<footer>
  <ul class="footer">
    <li>О нас</li>
    <li>Справочный центр</li>
    <li>Условия предоставления услуг</li>
    <li>Политика конфиденциальности</li>
    <li>Политика в отношении файлов cookie</li>
    <li>Специальные возможности</li>
    <li>Информация о рекламе</li>
    <li>Блог</li>
    <li>Статус</li>
    <li>Работа</li>
    <li>Ресурсы бренда</li>
    <li>Реклама</li>
    <li>Маркетинг</li>
    <li>Твиттер для бизнеса</li>
    <li>Разработчикам</li>
    <li>Каталог</li>
    <li>Настройки</li>
    <li>© Twitter, Inc., 2022.</li>
  </ul>
</footer>
